:host {
  display: block;
  position: relative;
  box-sizing: content-box;
  margin: 10px;
  background: white;
  min-width: 500px;
}

mat-form-field {
  display: block;
  width: 100%;
}

.color-box {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  vertical-align: text-top;
}
